
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fundy</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/landing-page.min.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">

    <!-- Fundy Stuff -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/awesomplete.css">
    <script src="/static/awesomplete.js" async></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Load custom js  -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/main.js"></script>

  <style>
    .simple-linear {
      width: 375px; height: 25px;
      background: linear-gradient(to right, #007bff, #fd4e4e);
      border-radius: 5px;
    }
    .arrow-up {
      width: 0;
      height: 0;
      position:relative;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 12px solid black;
      bottom: -80%
    }

    .col-centered {
    float: none;
    margin: 0 auto;
    }
  </style>
  </head>

  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand">Fundy</a>
        <!-- <a class="btn btn-primary" href="#">Sign In</a> -->
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Putting the fun-ds back in politics</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form id="form" onsubmit="return validateForm();" class="col-12 form-inline global-search">
              <div>
                <div class="container">
                  <div class="col-12 col-md-12 mb-2 mb-md-0">
                    <input id="politician_input" type="text" name="politician_name" class="form-control form-control-lg" placeholder="A Politician's Name"/>
                    <input id="free_form_input" type="text" name="free_form" class="form-control form-control-lg" placeholder="Political Issue">
                  </div>
                  <div class="col-12 col-md-12">
                    <button id="submit-button" type="submit" name="submitButton" class="buttonload btn btn-block btn-lg btn-primary">Search</button>
                    <div id="loading-button" style="display:none" class="buttonload btn btn-block btn-lg btn-primary"><i class="fa fa-spinner fa-spin"></i></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <section style="margin-top:25px" class="results">
    <form class="form-inline global-search">
        <div style="margin: 0 auto; padding-bottom: 30px;">
          <h2> On the issue of {{data["issue"]}}, {{data["politician"]}} aligns: </h2>
        </div>
    <div class="container">
        {% if data %}
             <!-- <div class="col-md-1"></div> -->
             <div class="row">
              <div class="col-md-1"></div>
               <div class="col-md-2">
                 <div class="btn btn-block btn-lg btn-primary" onclick="showPopup('tweets')">
                     Tweets
                 </div>
               </div>
               <div class="col-md-6" align="center">
                <div class = "simple-linear">
                   <div id = "tweet_meter" class="arrow-up" ></div>
                 </div>
               </div>
               <div id = "tweet_align" class="col-md-2">
               </div>
               <div class="col-md-1"></div>
             </div>
             <br>
             <div class="row">
              <div class="col-md-1"></div>
               <div class="col-md-2">
                <div class="btn btn-block btn-lg btn-primary" onclick="showPopup('votes')">
                     Votes
                 </div>
               </div>
               <div class="col-md-6" align="center">
                <div class = "simple-linear">
                   <div id = "votes_meter" class="arrow-up"></div>
                 </div>
               </div>
               <div id = "votes_align" class="col-md-2">
               </div>
               <div class="col-md-1"></div>
             </div>
             <br>
             <div class="row">
              <div class="col-md-1"></div>
               <div class="col-md-2">
                <div class="btn btn-block btn-lg btn-primary" onclick="showPopup('donations')">
                     Donations
                 </div>
               </div>
               <div class="col-md-6" align="center">
                <div class = "simple-linear">
                   <div id = "donations_meter" class="arrow-up"></div>
                 </div>
               </div>
               <div id = "donations_align" class="col-md-2">
               </div>
               <div class="col-md-1"></div>
             </div>
             <!-- <div class="col-md-1"></div> -->

         <br>
         <div class="col-12 col-md-0">
           <div style="display:none" class="info-popup" id="donations">
                {% if data["donations"]["sample"]|length > 0 %}
                <h4>Based on donations, we estimate {{ data["politician"] }} is {{ data["donations"]["score"] }}% Democrat and {{ 100-data["donations"]["score"] }}% Republican on the issue of {{ data["issue"] }}</h4>
                <h4>{{ data["politician"] }} has received ${{ data["donations"]["total"] }} from organizations related to {{ data["issue"] }}</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Donation Targets</th>
                            <th>Total Donated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for don in data["donations"]["sample"] %}
                            <tr>
                                <td>{{ don["DonorOrganization"] }}</td>
                                <td>${{ don["TransactionAmount"] }}</td>
                                <td>{{ don["TransactionDate"] }}</td>
                                <td>
                                    <div id="{{ don['TransactionID'] }}" style="width: 80px; height: 80px;"></div>
                                    <script>
                                        prepChart(
                                            "{{ don['TransactionID'] }}",
                                            {{ don['org_data']['democrat_total'] }},
                                            {{ don['org_data']['republican_total'] }},
                                        );
                                    </script>
                                </td>
                                <td>${{ don["org_data"]["donation_total"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h3>We were unable to find donations for {{ data["politician"] }} relevant to {{data["issue"]}}</h3>
                {% endif %}
           </div>
           <div style="display:block" class="info-popup" id="tweets">
              {% if data["tweets"] %}
                 <h3 align="center">Top 10 Tweet Matches</h3>
                 {% if (data["tweets"]["avg_sentiment"] <= -0.05) %}
                 <h5 class="tooltips" data-toggle="tooltip" data-html="true" data-placement="bottom" title=">= 0.05 is positive<br>
                   <= -0.05 is negative<br>
                   otherwise, neutral">
                   <b>Overall, {{data["politician"]}} tweets negatively about "{{data["issue"]}}," with an average sentiment of {{data["tweets"]["avg_sentiment"]}}. </h5></b>
                 {% elif (data["tweets"]["avg_sentiment"] >= 0.05) %}
                 <h5 class="tooltips" data-toggle="tooltip" data-html="true" data-placement="bottom" title=">= 0.05 is positive<br>
                   <= -0.05 is negative<br>
                   otherwise, neutral">
                   <b>Overall, {{data["politician"]}} tweets positively about "{{data["issue"]}}," with an average sentiment of {{data["tweets"]["avg_sentiment"]}}. </h5></b>
                 {% else %}
                 <h5 class="tooltips" data-toggle="tooltip" data-html="true" data-placement="bottom" title=">= 0.05 is positive<br>
                   <= -0.05 is negative<br>
                   otherwise, neutral">
                   <b>Overall, {{data["politician"]}} tweets neutrally about "{{data["issue"]}}," with an average sentiment of {{data["tweets"]["avg_sentiment"]}}. </h5></b>
                 {% endif %}
                 {% for tweet in data["tweets"]["tweet_dict"] %}
                 <div style="background-color: #e1e1ea; border-radius: 10px; padding:10px">
                    <p>{{tweet["tweet"]}}</p>
                    <div class="row">
                      <div class="col-md-3">
                      {% if (tweet["sentiment"]["compound"] <= -0.05) %}
                        <a href="#ttip" class="tooltips" data-toggle="tooltip" data-html="true" data-placement="bottom" title="% Negative: {{'%0.2f' | format(tweet['sentiment']['neg']*100)}} <br>% Positive: {{'%0.2f' | format(tweet['sentiment']['pos']*100)}} <br> % Neutral: {{'%0.2f' | format(tweet['sentiment']['neu']*100)}}">
                          <b>Sentiment:</a></b> <a style="color: red">{{'%0.2f' | format(tweet["sentiment"]["compound"])}}</a><br>
                      {% elif (tweet["sentiment"]["compound"] >= 0.05) %}
                        <a href="#ttip" class="tooltips" data-toggle="tooltip" data-html="true" data-placement="bottom" title="% Negative: {{'%0.2f' | format(tweet['sentiment']['neg']*100)}} <br>% Positive: {{'%0.2f' | format(tweet['sentiment']['pos']*100)}} <br> % Neutral: {{'%0.2f' | format(tweet['sentiment']['neu']*100)}}">
                          <b>Sentiment:</a></b> <a style="color: green">{{'%0.2f' | format(tweet["sentiment"]["compound"])}}</a><br>
                      {% else %}
                        <a href="#ttip" class="tooltips" data-toggle="tooltip" data-html="true" data-placement="bottom" title="% Negative: {{'%0.2f' | format(tweet['sentiment']['neg']*100)}} <br>% Positive: {{'%0.2f' | format(tweet['sentiment']['pos']*100)}} <br> % Neutral: {{'%0.2f' | format(tweet['sentiment']['neu']*100)}}">
                          <b>Sentiment:</a></b> {{'%0.2f' | format(tweet["sentiment"]["compound"])}}<br>
                      {% endif%}
                      </div>
                      <div class="col-md-3">
                        <b>Retweets:</b> {{tweet["retweets"]}}<br>
                      </div>
                      <div class="col-md-3">
                        <b>Favorites:</b> {{tweet["favorites"]}}<br>
                      </div>
                      <div class="col-md-3">
                        {% if (tweet["political"]["Conservative"] + tweet["political"]["Libertarian"]) > (tweet["political"]["Liberal"] + tweet["political"]["Green"]) %}
                          <a href="#ttip" data-toggle="tooltip" data-html="true" data-placement="bottom" title="% Liberal: {{'%0.2f' | format(tweet['political']['Liberal']*100)}} <br>% Green: {{'%0.2f' | format(tweet['political']['Green']*100)}} <br> % Conservative: {{'%0.2f' | format(tweet['political']['Conservative']*100)}} <br> % Libertarian: {{'%0.2f' | format(tweet['political']['Libertarian']*100)}}"><b>Political Analysis: </b></a>Republican
                        {% else %}
                          <a href="#ttip" data-toggle="tooltip" data-html="true" data-placement="bottom" title="% Liberal: {{'%0.2f' | format(tweet['political']['Liberal']*100)}} <br>% Green: {{'%0.2f' | format(tweet['political']['Green']*100)}} <br> % Conservative: {{'%0.2f' | format(tweet['political']['Conservative']*100)}} <br> % Libertarian: {{'%0.2f' | format(tweet['political']['Libertarian']*100)}}"><b>Political Analysis: </b></a>Democrat
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <br>
                  {% endfor %}
              {% else %}
                  <h3> This politician has not tweeted about this issue. </h3>
              {% endif %}
           </div>
           <div style="display:none" class="info-popup" id="votes">
               {% if data["votes"] %}
                    <br>
                    <h2 class="">{{ data["party"] }} {{ data["politician"] }} votes with {{ data["vote_score_democrat"]}}% of Democrats and {{ data["vote_score_republican"]}}% of Republicans on the issue of {{ data["issue"] }}</h2> <br>
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Bill Title</th>
                            <th>Bill Description</th>
                            <th>Related Topic</th>
                            <th>{{ data["politician"] }} position</th>
                            <th>Democratic votes</th>
                            <th>Republican votes</th>
                            <th>URL for more info</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vote in data["votes"] %}
                            <tr>
                                <td>{{vote["title"]}}</td>
                                <td>{{vote["description"]}}</td>
                                <td>{{vote["relevant_topic"]}}</td>
                                <td>{{vote["vote_position"]}}</td>
                                <td>Yes: {{vote["democratic"]["yes"]}} <br> No: {{vote["democratic"]["no"]}}</td>
                                <td>Yes: {{vote["republican"]["yes"]}} <br> No: {{vote["republican"]["no"]}}</td>
                                <td><a href='{{vote["url"]}}'>Link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
<!--
                    {% for vote in data["votes"] %}
                        <p> Title of bill: {{vote["title"]}} </p>
                        <p> Description of bill: {{vote["description"]}} </p>
                        <p> Topic related to issue: {{vote["relevant_topic"]}} </p>
                        <p> {{ data["politician"] }} position on bill: {{vote["vote_position"]}} </p>
                        <p> Democratic votes on bill: Yes votes: {{vote["democratic"]["yes"]}} No votes: {{vote["democratic"]["no"]}} </p>
                        <p> Republican votes on bill: Yes votes: {{vote["republican"]["yes"]}} No votes: {{vote["republican"]["no"]}} </p>
                        <a href='{{vote["url"]}}'>Click here for more info about the bill</a><br> <br>
                    {% endfor %}
-->
               {% else %}
                    <h2> {{ data["politician"] }} has not voted on this issue. </h2>
               {% endif %}
           </div>
       </div>
     </div>
     {% endif %}
   </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Meet the Squad</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../static/img/dan.png" alt="">
              <h5>Dan</h5>
              <!-- <p class="font-weight-light mb-0">Facebook, ever heard of it?</p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../static/img/james.png" alt="">
              <h5>James</h5>
              <!-- <p class="font-weight-light mb-0">AKA the King of Piazza</p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../static/img/sam.png" alt="">
              <h5>Samantha</h5>
              <!-- <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p> -->
            </div>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../static/img/joe.jpg" alt="">
              <h5>Joe</h5>
              <!-- <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../static/img/isabel.png" alt="">
              <h5>Isabel</h5>
              <!-- <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p> -->
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
    var pdem = 0;
    var pdem2 = 50;
    var pdem3 = {{data["donations"]["score"]}};
    $( '#tweet_meter' ).attr("style", "left: "+(-pdem + 50)+"%;")
    $( '#votes_meter' ).attr("style", "left: "+(-pdem2 + 50)+"%;")
    $( '#donations_meter' ).attr("style", "left: "+(-pdem3 + 50)+"%;")

    var pol_alignment = function(pdem){
      if (pdem < 20){
        return "Strong Republican"
      }
      else if (pdem < 40){
        return "Lean Republican"
      }
      else if (pdem < 60){
        return "Moderate"
      }
      else if (pdem < 80){
        return "Lean Democrat"
      }
      else return "Strong Democrat"
    }

    $( '#tweet_align' ).text(pol_alignment(pdem))
    $( '#votes_align' ).text(pol_alignment(pdem2))
    $( '#donations_align' ).text(pol_alignment(pdem3))
    </script>

  </body>

</html>
